$grid-line-color: 1px solid rgba(255, 255, 255, 0.048);

body[class^='nb-theme-'] {
  --grid-line-color: #{$grid-line-color};
  --layout-padding: 0.5rem;
}

.nb-theme-dark {
  .gridster-row {
    border-top: var(--grid-line-color);
    border-bottom: var(--grid-line-color);
  }

  .gridster-column {
    border-left: var(--grid-line-color);
    border-right: var(--grid-line-color);
  }
}
